/* CSS 리셋 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---- 전체 적용 ---- */
body {
  background-color: #111;
  color: #fff;
}

section{
  padding: 40px 10%;
}
section h2{
  font-size: 36px;
  margin-bottom: 20px;
  padding: 10px;
}
section h3{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

/* ---- 헤더 영역 ---- */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 8%;
  position: relative;  /* 상대 위치 */
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
nav .logo{
  font-size: 32px;
  color: #db0001;
  cursor: pointer;  /* 커서 포인터 */
}
nav button{
  border: 0;
  outline: 0;
  border-radius: 5px;
  background-color: #db0001;
  color: #fff;
  padding: 10px 24px;
  font-size: 16px;
  cursor: pointer;
}
.lang{
  display: inline-flex;  /* */
  align-items: center; /* 수직 정렬 */
  border: 1px solid #fff;
  background-color: transparent;  /* 투명 배경 */
}
.lang i:nth-child(1){
  margin-right: 8px;
}
.lang i:nth-child(2){
  margin-left: 5px;
}

.header-content{
  position: absolute;  /* 절대 위치 */ 
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center; /* 텍스트 가운데 정렬 */
}
.header-content h2{
  font-size: 60px;
  line-height: 1.4; /* 줄 높이 */
  font-weight: 600;
  max-width: 650px;
  margin-bottom: 20px;
}
.header-content h3 {
  font-weight: 400;
  margin-bottom: 40px;
}
.add-email{
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.add-email input{
  border: 0;
  outline: 0;
  flex: 1; /* */
  margin-left: 20px; /* placeholder 왼쪽 여백 */
}
.add-email button {
  border: 0;
  background-color: #db0001;
  color: black;
  font-size: 16px;
  padding: 15px 30px;
  cursor: pointer;
}

